
.new{
    display:flex;
    flex-direction: column;
    width: 270px;
    margin-right:50px;
}

.new-block{

}

.new-block__text1{
    color:yellow;
}

.new-block__title{
    margin-bottom: 12px;
}

.new-block{
    margin-top: 24px;
}

.new-block__button{
    margin-top: 12px;
    display: flex;
}

.new-block__button-text{
    color: #ED3E3E;
    font-weight: 400;
}

.new-block__button-arrow{
    margin-left: 6px;
}

.new-separator{
    margin-top: 48px;
    margin-bottom: 12px;
    border-bottom: 1px solid lightgrey;
}

