<div class="wrapper">
    <div class="title">
        <h1 class="title__text">Программные продукты</h1>
        <a href="/products" class="title__button link">посмотреть весь список</a>
    </div>

    <div class="line"></div>

    <div class="products">
        <app-product 
            [name]="'1С:Предприятие 8. Отель (Основная поставка)*'"
            [code]="'2900002083934'"
            [price]="65000"
            [src]="'assets/products/hotel.png'">
        </app-product>

        <div class="product-seporator"></div>
        <app-product 
            [name]="'1С:Предприятия 8. Отель Комплект 5 пользователей Электронная поставка '"
            [code]="'2900002083958'"
            [price]="169000"
            [src]="'assets/products/hotel.png'">
        </app-product>
        <div class="product-seporator"></div>
        <app-product 
            [name]="'1С:Предприятие 8. Отель Доп. лицензия на 1 р.м'"
            [code]="'2900002084016'"
            [price]="32500"
            [src]="'assets/products/hotel.png'">
        </app-product>
    </div>
</div>

<div class="wrapper">
    <div class="title">
        <h1 class="title__text">Оборудование</h1>
        <p class="title__button link">посмотреть весь список</p>
    </div>

    <div class="line"></div>

    <div class="products">
        <app-product 
            [name]="'Фискальный регистратор Атол 55Ф '"
            [code]="'2900002083934'"
            [price]="45400"
            [src]="'assets/products/atol555.png'">
        </app-product>
        <div class="product-seporator"></div>
        <app-product 
            [name]="'Фискальный регистратор Атол 55Ф '"
            [code]="'2900002083958'"
            [price]="12500"
            [src]="'assets/products/atol55f.png'">
        </app-product>
        <div class="product-seporator"></div>
        <app-product 
            [name]="'Фискальный регистратор Атол 92Ф '"
            [code]="'2900002084016'"
            [price]="12000"
            [src]="'assets/products/atol55f.png'">
        </app-product>
    </div>
</div>
